<h2>What's your travel time? </h2>
<%= form_with(url: "/travel_times") do %>
  <%= label_tag(:origin_address, "Starting from:") %>
  <%= text_field_tag(:origin_address) %>
  <%= label_tag(:destination_address, "Going to:") %>
  <%= text_field_tag(:destination_address) %>
  <%= submit_tag("Search") %>
<% end %>
<iframe
  width="450"
  height="250"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?key=<%=ENV.fetch('GOOGLE_KEY')%>&q=65 Leonard Street,London" allowfullscreen>
</iframe>